<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>个人资料</title>

		<link href="/static/myhome/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="/static/myhome/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="/static/myhome/css/personal.css" rel="stylesheet" type="text/css">
		<link href="/static/myhome/css/infstyle.css" rel="stylesheet" type="text/css">
		<script src="/static/myhome/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="/static/myhome/AmazeUI-2.4.2/assets/js/amazeui.js"></script>			
	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					{% block topnav %}
					<!--顶部导航条 -->
					<div class="am-container header">
						<ul class="message-l">
							<div class="topMessage">
								<div class="menu-hd">
									<!-- <a href="#" target="_top" class="h">亲，请登录</a> -->
									{% if request.session.userinfo != '' %}
									欢迎你:
									<a href="{% url 'myhome_information' %}" target="_top" class="h">{{ request.session.userinfo.vipuser }}</a>
									{% else %}
									<a href="{% url 'myhome_login' %}" target="_blank" class="h">亲，请登录</a>
									<a href="{% url 'myhome_register' %}" target="_blank">免费注册</a>
									{% endif %}
									
								</div>
							</div>
						</ul>
						<ul class="message-r">
							<div class="topMessage home">
								<div class="menu-hd"><a href="{% url 'myhome_index' %}" target="_blank" class="h">商城首页</a></div>
							</div>
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng"><a href="" target="_blank"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd"><a id="mc-menu-hd" href="{% url 'myhome_carpage' %}" target="_blank"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="#" target="_blank"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</ul>
						</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img src="/static/myhome/images/logobig.png" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
					{% endblock topnav %}

				</div>
			</article>
		</header>
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-info">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>
						</div>
						<hr/>
				
						<!--个人信息 -->
						<div class="info-main">
							<form class="am-form am-form-horizontal" method="POST" enctype="multipart/form-data">
								{% csrf_token %}

								<!--头像 -->
								<div class="user-infoPic am-form-group">
		                            <div class="">
		                                <div class="am-form-group am-form-file">
		                                    <div class="tpl-form-file-img">
		                                        <img src="{{ user.head_url }}" alt="" id="img" width="100"></div>
		                                    	<button type="button" class="am-btn am-btn-danger am-btn-sm">
		                                        <i class="am-icon-cloud-upload"></i>添加用户图片</button>
		                                    <input id="doc-form-file" class="files"  name="head_url" type="file" multiple="">
		                                </div>
		                            </div>
		                            <p class="am-form-help">头像</p>

									<div class="info-m">
										<div><b>用户名：<i>{{ user.username }}</i></b></div>
										<div class="vip">
		                                      <span></span><a href="#">会员专享</a>
										</div>
									</div>
		                        </div>

								 <script>
		                            // var inp = document.getElementById('files');
		                            // var imgs = document.getElementById('img');
		                            // 给input添加change事件
		                           $('.files').change(function () {
		                                // 获取原始文件对象
		                                file = this.files[0];
		                                console.log(file)

		                                var readers = new FileReader();
		                                // 读取文件
		                                readers.readAsDataURL(file);
		                                // 当文件读取完成执行获取新的url地址
		                                readers.onload = function () {
		                                    $('#img').attr('src', readers.result);
		                                };
		                                // $.get('{% url 'myhome_information' %}', {'file': file}, function (data) {
		                                // 	alert(data.msg)
		                                // }, 'json');
		                           });
		                       </script>

								<div class="am-form-group">
									<label for="user-name2" class="am-form-label">昵称</label>
									<div class="am-form-content">
										<input type="text" id="user-name2" name="username" value="{{ user.username }}">
                                          <small>昵称长度不能超过40个汉字</small>
									</div>
								</div>

								<div class="am-form-group">
									<label class="am-form-label">性别</label>
									<div class="am-form-content sex">
										<label class="am-radio-inline">
											<input type="radio" name="sex" value="1"  {% if user.sex == '1' %}checked{% endif %}> 男
										</label>
										<label class="am-radio-inline">
											<input type="radio" name="sex" value="0" {% if user.sex == '0' %}checked{% endif %}> 女
										</label>
										
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-name2" class="am-form-label">年龄</label>
									<div class="am-form-content">
										<input type="text" name="age" id="user-name2"  value="{{ user.age }}">
                                          <!-- <small>昵称长度不能超过40个汉字</small> -->
									</div>
								</div>

								<div class="am-form-group">
									<label for="user-birth" class="am-form-label">加入时间</label>
									<div class="am-form-content">
										<input disabled type="text" name="addtime" id="user-name2"  value="{{ user.addtime }}">
                                          <!-- <small>昵称长度不能超过40个汉字</small> -->
									</div>
							
								</div>
								<div class="am-form-group">
									<label for="user-phone" class="am-form-label">电话</label>
									<div class="am-form-content">
										<input id="user-phone" name="phone" value="{{ user.phone }}"  type="tel">

									</div>
								</div>
								
								<div class="am-form-group address">
									<label for="user-address" class="am-form-label">收货地址</label>
									<div class="am-form-content address">
										<a href="address.html">
											<p class="new-mu_l2cw">
												<span class="province">湖北</span>省
												<span class="city">武汉</span>市
												<span class="dist">洪山</span>区
												<span class="street">雄楚大道666号(中南财经政法大学)</span>
												<span class="am-icon-angle-right"></span>
											</p>
										</a>

									</div>
								</div>
								<div class="am-form-group safety">
									<label for="user-safety" class="am-form-label">账号安全</label>
									<div class="am-form-content safety">
										<a href="safety.html">

											<span class="am-icon-angle-right"></span>

										</a>

									</div>
								</div>
								<div class="info-btn">
									<button class="am-btn am-btn-danger">保存修改</order>
								</div>

							</form>
						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有</em>
						</p>
					</div>
				</div>
			</div>
				
			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="{% url 'myhome_information' %}"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="{% url 'myhome_information' %}">个人信息</a></li>
							<li> <a href="{% url 'myhome_safety' %}">安全设置</a></li>
							<li> <a href="{% url 'myhome_address' %}" target="_blank">地址管理</a></li>
							<li> <a href="cardlist.html">快捷支付</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="{% url 'myhome_order' %}" target="_blank">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
							<li> <a href="comment.html">评价商品</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的资产</p>
						<ul>
							<li> <a href="points.html">我的积分</a></li>
							<li> <a href="coupon.html">优惠券 </a></li>
							<li> <a href="bonus.html">红包</a></li>
							<li> <a href="walletlist.html">账户余额</a></li>
							<li> <a href="bill.html">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>														
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-qq"></i>在线客服</p>
						<ul>
							<li> <a href="consultation.html">商品咨询</a></li>
							<li> <a href="suggest.html">意见反馈</a></li>							
							
							<li> <a href="news.html">我的消息</a></li>
						</ul>
					</li>
				</ul>

			</aside>
		</div>

	</body>

</html>