{% extends './index.html' %}

{% block cont %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">修改用户</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body am-fr">
                    <form action="{% url 'myadmin_edituser' %}?uid={{ userinfo.id }}" class="am-form tpl-form-line-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">用户名
                                <span class="tpl-form-line-small-title">Title</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" name="username" value="{{ userinfo.username }}" class="tpl-form-input" id="user-name" placeholder="请输入标题文字">
                                </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">手机号
                                <span class="tpl-form-line-small-title">Title</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" name="phone" value="{{ userinfo.phone }}" class="tpl-form-input" id="user-name" placeholder="请输入标题文字">
                                </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">年龄
                                <span class="tpl-form-line-small-title">Title</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" name="age" value="{{ userinfo.age }}"  class="tpl-form-input" id="user-name" placeholder="请输入标题文字">
                                </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">性别
                                <span class="tpl-form-line-small-title">Title</span></label>
                            <div class="am-u-sm-9">
                                <input type="radio" name="sex" {% if userinfo.sex == '1' %}checked{% endif %} class="tpl-form-input" id="user-name" value="1"> 男 
                                <input type="radio" name="sex" {% if userinfo.sex == '0' %}checked{% endif %} class="tpl-form-input" id="user-name" value="0"> 女
                                </div>
                        </div>
                        
                        <div class="am-form-group">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">头像
                                <span class="tpl-form-line-small-title">Images</span></label>
                            <div class="am-u-sm-9">
                                <div class="am-form-group am-form-file">
                                    <div class="tpl-form-file-img">
                                        <img src="{{ userinfo.head_url }}" alt="" width="100"></div>
                                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                        <i class="am-icon-cloud-upload"></i>添加封面图片</button>
                                    <input id="doc-form-file" name="head_url" type="file" multiple=""></div>
                            </div>
                        </div>
                       
                        
                       
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button  class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  
</div>
{% endblock %}